ul{
    align-items: center;
    display:flex;
    justify-content:center;
    padding: 0%;
    list-style-type: none;
    flex-wrap: wrap;

}

li a{
    height:30rem;
    display:flex;
    margin:0.5rem;
    flex-direction: column;
    width:20rem;
    border:1px solid whitesmoke;
    border-radius: 1rem;
    overflow:hidden;
    color:  rgb(20, 6, 6);
    font-size:large;   
}

.tag{
    margin-top: 0.2rem;
        padding: 0 0.5rem;
        margin-right: 0.3rem;
        color: rgb(4, 97, 173);
        font: size 0.8rem;
}
li a:hover{
    opacity: 0.9;
    cursor:pointer;
}
li a img{
    object-fit:cover;
    height: 20rem;
}
.content{
    height: 7rem;
    position:relative;
    padding:0.5rem 1rem;
     margin-top: 0.3rem;
}
.favorite{
    font-size: 1.2rem;
    right:1 rem;
    top:0.5rem;
    float:right;
    color:red
}
.favorite.not{
    color:grey; 
}


.product-item-footer{
    align-items:baseline;
    justify-content: space-between;
    display:flex;
    padding:10px;
    font-size: medium;
    font-weight:bold;
}

.origins{
      flex:10px;
}
.origins span{
    margin-top:0.2rem;
    padding: 0 0.5rem;
    margin-right: 0.3rem;
    color:gray;
    font: size 0.8rem;
    display:inline-block;
    background-color: whitesmoke;
    border-radius: 2rem;
}
.price{
  
    color:rgb(41, 165, 4);
}