.container{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:3rem;
}
.container >*{
    min-width:25rem;
    max-width: 40rem;
}

img{
    flex: 1 0;
    object-fit: cover;
    height: 30rem;
    margin:1rem;
    border-radius: 3rem;
}
.details{
    display: flex;
    width:100;
    flex-direction: column;
    flex:1 0;
    border:3rem;
    padding:2rem;
    color: black;
    margin-left: 1rem;

}

.header{
    display:flex;
    justify-content: space-between;
}

.name{
    font-weight: bold;
    font-size: 2.5rem;
}
.favorite{
    color:#e72929;
    font-size:2.5rem;
}
.favorite.not{
    color:gray;
}
.orgins{
    display:flex;
    flex-wrap:wrap;
    margin:1rem 0; 
}
.orgins span{
    padding:0.5rem;
    font-size: 1.2rem;
    margin:0.5rem 0.5rem 0.5rem 0;
    border-radius: 2rem;
    background-color:rgb(243, 238, 238);
}

.tag{
    flex-wrap: wrap;
    display: flex;
}
.tag a{
    padding:0.3rem 1rem;
    margin:0.2rem 0.15rem;
    border-radius: 10rem;
    background-color: #f0f0f0;
    color:rgb(4, 97, 173);
    font-weight: bold;

}
.price{
    font-size:1.8rem;
    margin: 2rem 2rem 2rem 0;
    color:rgb(41, 165, 4)
}
.price::before{
    content:"Price:";
    color:black
}
button{
    color:#f0f0f0;
    background-color: rgb(255, 88, 88);
    border:none;
    padding:1rem;
    border-radius: 10rem;
    outline:none;
}
button:hover{
    opacity: 0.8;
    cursor:pointer;
}